[Unit]
Description=DIY fan setup with arduino controlling PWM speed

[Service]
Type=simple
ExecStart=/usr/local/bin/diygpufanctrl
Restart=on-failure
RestartSec=60
KillMode= process

[Install]
WantedBy=multi-user.target